<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://rukzmvc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>rukzmvc.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>rukzmvc</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$rukzmvc</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="LoginDatabaseEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:rrvum0zj1n.database.windows.net,1433;Initial Catalog=LoginDatabase;User ID=rukshala@rrvum0zj1n;Password=2292905@New" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="LoginForm.LoginDatabaseEntities, LoginForm" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:rrvum0zj1n.database.windows.net,1433;Initial Catalog=LoginDatabase;User ID=rukshala@rrvum0zj1n;Password=2292905@New" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="LoginForm.Models.ApplicationDbContext, LoginForm" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CredentialsDBEntities" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:rrvum0zj1n.database.windows.net,1433;Initial Catalog=LoginDatabase;User ID=rukshala@rrvum0zj1n;Password=2292905@New" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="LoginForm.CredentialsDBEntities, LoginForm" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CredentialsDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Mymodel.csdl|res://*/Mymodel.ssdl|res://*/Mymodel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:rrvum0zj1n.database.windows.net,1433;Initial Catalog=LoginDatabase;User ID=rukshala@rrvum0zj1n;Password=2292905@New"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:rrvum0zj1n.database.windows.net,1433;Initial Catalog=LoginDatabase;User ID=rukshala@rrvum0zj1n;Password=2292905@New</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LoginDatabaseEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:rrvum0zj1n.database.windows.net,1433;Initial Catalog=LoginDatabase;User ID=rukshala@rrvum0zj1n;Password=2292905@New"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>